<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd   
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 配置bean扫描，找到有spring特定注解修饰的类 -->
	<!-- 例如：@Controller,@Service,... -->
	<context:component-scan base-package="com.jt"></context:component-scan>
	<!-- 启用spring mvc 默认配置 -->
	<mvc:annotation-driven>
	<!-- 配置fastjson为默认的json转换器 -->
		<mvc:message-converters register-defaults="true">
			<bean  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=utf-8</value>
						<value>text/html;charset=utf-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 配置视图解析器(viewresource) 
	例如：现有一视图名hello，解析后：/WEB-INF/pages//hello.jsp-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="Prefix" value="/WEB-INF/pages/"></property>
		<property name="Suffix" value=".jsp"></property>
	</bean>
	
	<!-- 拦截器的配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- 配置拦截器要拦截的请求 -->
			<mvc:mapping path="/**"/>
			<!-- 定义具体拦截器 -->	
			<bean class="com.jt.interceptor.TimeInterceptor"></bean>	
		</mvc:interceptor>
		
		<mvc:interceptor>
		<!-- 配置拦截器要拦截的请求 -->
			<mvc:mapping path="/**"/>
			<!-- 定义具体拦截器 -->	
			<bean class="com.jt.interceptor.MonitorInterceptor"></bean>	
		</mvc:interceptor>
	</mvc:interceptors>
</beans>





